---
http_interactions:
- request:
    method: post
    uri: https://se.api.anpdm.com/v1/subscribers/mailinglist/<MAILING_LIST>/queue
    body:
      encoding: UTF-8
      string: ! '[{"Email":"johndoe@example.com","Name":"John Doe"},{"Email":"janedoe@example.com","Name":"Jane
        Doe"}]'
    headers:
      Authorization:
      - <KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Code":1,"Message":"Creating subscribers will be handled shortly...","Result":{"OperationGuid":"9b087599-e26d-47f8-932b-03092fb91fd0","PollURL":"http:\/\/se.api.anpdm.com\/data\/9b087599-e26d-47f8-932b-03092fb91fd0_status.json"}}'
  recorded_at: Tue, 12 Mar 2013 15:10:01 GMT
recorded_with: VCR 2.4.0
